### Python & Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
sqlite3.db
db.sqlite3-journal
media
staticfiles/
dev/

### Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

### Environments
.env*
.venv
env/
venv/
ENV/

### linters
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/

### Other
tags
tags.*
.pre-commit-config.yaml
