# Template of variables that need to be set in .env

DJANGO_SETTINGS_MODULE=nous_aggregator.settings.base

# Secret key be generated in Python shell. For example:
  # import secrets
  # chars = [chr(i) for i in range(0x21, 0x7F)]
  # key_len = 64
  # key = ''.join(secrets.choice(chars) for i in range(key_len))
SECRET_KEY=dummy

# DEBUG should be False outside development
DEBUG=True

# Network
ALLOWED_HOSTS=*  # List of comma-separated hostnames, or * to match all hosts
CSRF_TRUSTED_ORIGINS=*  # See previous
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_SSL_REDIRECT=False

# Database
POSTGRES_HOST_AUTH_METHOD=ident
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=db  # "db" for use with Docker, "localhost" without
DATABASE_PORT=5432
PG_DOCKER_MAPPING="5433:5432"

# Redis
REDIS_PORT=6379

# Celery
# For devlopment without Docker, the URL's don't have to be set
# (default values from settings are usable)
CELERY_BROKER_URL_DOCKER=redis://redis:6379/0
CELERY_RESULT_BACKEND_DOCKER=redis://redis:6379/0
CELERY_LOGLEVEL=DEBUG
