{% extends "articles/base.html" %}
{% load static humanize strip_html_tags %}

{% block title %}Nous Aggregator{% endblock %}

{% block content %}
<div class="container container-sources">
  <div class="row">
    {% for source in sources %}
      <div class="col-md-12 col-lg-6 col-xl-4 container-articles-outer">
	<div class="source"><a class="source-link" href="{{ source.url }}"><h5 class="source-title">{{ source.title }}</h5></a></div>
	<div class="container-articles-inner">
	<ul class="article-list">
	  {% for article in source.articles.all|slice:":10" %}
	    <li>
	      <div class="article-headline">
            <a class="article-link main-text"
               title="{{article.title}}&#10;&#10;{{ article.description|slice:":200"|strip_html_tags}}...&#10;&#10;{{article.created_at|naturaltime}}"
               href="{{ article.url }}">{{ article.title}}
            </a>
	      </div>
	    </li>
	    <hr>
	  {% endfor %}
	</ul>
	</div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
