{% load static %}
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Nous Aggregator</a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <!-- Links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>

      <!-- Search -->
      <form class="d-flex" role="search" action="{% url 'search' %}" method="GET">
        <input class="form-control me-2 search-field" name="q" type="text"
	       required pattern=".*\S+.*" title="at least one non-space character"
	       placeholder="Search..." aria-label="Search" {% if query %} value={{ query }} {% endif %}>
	<button class="btn btn-outline-success search-button" type="submit">Search</button>
	<a class="undo-button" href="{% url "index" %}"><i class="fa fa-undo"></i></a>
      </form>
    </div>
  </div>
</nav>
